= simple_form_for(@news) do |f|
  .grid-x
    .large-12.cell
      = f.error_notification
    
  .grid-x
    .large-12.cell
      .form-inputs
        .grid-x.grid-padding-x
          .large-12
            .form-inputs
            = f.input :title
            = f.input :body
            = f.input :published
            = f.association :maps

        .form-actions
          = f.button :submit, :class => "button"
        .large-3.cell
          &nbsp;