- content_for(:title) { "User roles (Edit)" }

#form-wrapper
  %p.text-right.close_link_wrapper
    =link_to admin_roles_path, :class=>'close_link' do
      %i.fi.fi-x
  %h1 Editing role
  = render 'form'
  %h2 All users
  - if @admin_role.users.count
    %table
      - @admin_role.users.each do |user|
        %tr
          %td
            = user.nickname 
          %td
            = user.email
          %td
            = link_to edit_admin_user_path(user), :class => 'button' do
              %i.fi.fi-pencil


  %hr
  = link_to 'All roles', admin_roles_path
