<p><%= t('.greeting', recipient: @resource.email) %></p>

<p><%= t('.instruction') %></p>

<p><%= link_to t('.action'), "#{Rails.application.credentials.dig(:frontend, :hostname )}#{Rails.application.credentials.dig(:frontend, :password_reset_path )}?reset_password_token=#{@token}" %></p>

<p><%= t('.instruction_2') %></p>
<p><%= t('.instruction_3') %></p>
